.container
  .row12
    %h1  The new Dating App


  - if !current_user 
    #signup_modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      = render partial:"users/form"


:javascript
  $('a[href="/users/new"]').on("click", function(event){
    $('#signup_modal').modal("toggle");
    event.preventDefault();
    return;
  });
