.container
  .row12
    %h1 Messages#index
    %p Find me in app/views/messages/index.html.haml
    

    %ul
      - @people.each do |person|
        %li
          - if person.profile_pic
            = image_tag person.profile_pic
          - else 
            = image_tag "default.jpeg"
          = link_to person.username, message_path(person)
        %br

