.container
  .row
    .span12
      %h1 Messages#show
      %p Find me in app/views/messages/show.html.haml

  .row
    .span6.offset3

      = render partial:"form" if can? :create, Message
      - if !can? :create, Message
        You have to Subscribe to send messages
        %br
        = link_to "Subscribe", new_subscription_path, class: "btn btn-success"

  .row
    %ul 
      - @messages.each do |message|
        %li
          = message.sender.username
          \:
          =message.content
