.container
  .row
    .span12
      %h1 Messages#show
      %p Find me in app/views/messages/show.html.haml

  .row
    .span6.offset3
      = render partial:"form"

  .row
    %ul 
      - @messages.each do |message|
        %li
          = message.sender.username
          \:
          =message.content
