$('nav.navbar-inner').empty().append('<%= j render partial:"layouts/nav" %>');
<% if current_user %>
$('#notices').empty().append('<div class="alert"> Successfully Logged In</div>');
<% else %>
$('#notices').empty().append('<div class="alert alert-error">Username or password invalid</div>');
<% end %>
